
.card-da.open {
    margin-top: 25px;
    position: relative; 
    display: flex;
    align-items: left;
    width:100%;  
    width: 580px; 
    height: 120px;
    background: linear-gradient(to bottom, #72baff, #1e73e0); 
    border-radius: 15px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 15px;
    color: white;
    font-family: Arial, sans-serif;
    margin-right: auto;
    margin-left: 300px;
    transition:all  0.5s ease-in-out;
  }
  .card1-da.open{
    margin-top: 25px;
    position: relative; 
    display: flex;
    align-items: left; 
    width:100%;  
    width: 580px;
    height: 120px;
    background: linear-gradient(to bottom, #67e87d, #159831); 
    border-radius: 15px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 15px;
    color: white;
    font-family: Arial, sans-serif;
    margin-right: auto;
    margin-left: 30px;
    transition:all  0.5s ease-in-out;
  }

  .card-da {
    margin-top: 25px;
    position: relative; 
    display: flex;
    align-items: left;
    width:100%;  
    width: 680px;
    height: 120px;
    background: linear-gradient(to bottom, #72baff, #1e73e0); 
    border-radius: 15px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 15px;
    color: white;
    font-family: Arial, sans-serif;
    margin-right: auto;
    margin-left: 0px;
    transition:all  0.5s ease-in-out;
  }
  .card1-da{
    margin-top: 25px;
    position: relative; 
    display: flex;
    align-items: left; 
    width:100%;  
    width: 680px;
    height: 120px;
    background: linear-gradient(to bottom, #67e87d, #159831); 
    border-radius: 15px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 15px;
    color: white;
    font-family: Arial, sans-serif;
    margin-right: auto;
    margin-left: 30px;
    transition:all  0.5s ease-in-out;
  }
  
  
  .card-content {
    display: flex;
    flex-direction: column;
    justify-content: left; 
  }
  
  .card-number {
    font-size: 3rem; 
    font-weight: bold;
    margin: 0;
  }
  
  .card-text {
    font-size: 3rem;
    margin: 0px;
  }
  
  
  .card-icon {
    position: absolute;
    top: -35px; 
    right: 8px; 
  }
  
  .card-icon img {
    width: 70px;
    height: 70px;
    opacity: 0.7;
    box-shadow:black;
  }

  .span-da{
    display: flex;
    justify-content:space-around   ;
  }

  

.table-container {
    margin-top: 20px;
    width: 100%;
    padding: 20px;
    margin-right: 0;
    margin-left: auto;
    transition: all 0.5s ease-in-out;
    background: #f9f9f9; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
    border-radius: 8px; 
}

.table-container.open {
    width: 80%;
    transition: all 0.5s ease-in-out;
}

.table-da {
    width: 100%;
    border-collapse: collapse;
    font-family: 'Arial', sans-serif;
    margin: 0 auto;
    transition: all 0.5s ease-in-out;
    border-radius: 8px; 
    overflow: hidden; 
    background: linear-gradient(to bottom, #ffffff, #f4f4f4); 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

th, td {
    margin-top: 0px;
    text-align: center;
    padding: 15px;
    border: 1px solid #ddd;
    font-size: 14px;
    
    
}

th {
    background: linear-gradient(to right, #0056b3, #0056b3);
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
}

td {
    color: #333;
    
    word-wrap: break-word; 
    
}

tr:nth-child(even) {
    background-color: #f9f9f9; 
}

tr:hover {
    background-color: #e3f2fd; 
    cursor: pointer;
    transform: scale(1.01); 
    transition: all 0.2s ease-in-out; 
}

button {
    margin: 5px;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    font-size: 14px;
    color: white;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

button:hover {
    transform: translateY(-2px); 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
}

button:active {
    transform: translateY(0); 
    box-shadow: none; 
}
.td-des{
  white-space: nowrap; 
  overflow: hidden;
  text-overflow: ellipsis; 
  max-width: 200px;
}
  

  
  